<!DOCTYPE html>
<html> 
    <head> 
		<title>{! TEXT_LANG_TEST !}</title>
    </head> 
    <body> 
        <header> 
            <h1>{+ common.test +}</h1> 
        </header> 
		
        <nav> 
            <ul> 
				<!-- NOCACHE -->
				{# IndexNavs #}
				<!-- NOCACHE -->
                <li>
					<ul style="background: #ddd;">
						{* DBLoop $dbdata *}
						<li>DBData: {% $DBLoop['setting'] %} -> {% $DBLoop['value'] %}</li> 
						{* EMPTY DBLoop *}
						<li>DBData: NO DATA HERE</li> 
						{* EOF DBLoop *}
					</ul>
				</li>
				
                <li>About</li> 
                <li>Contact</li> 
            </ul> 
        </nav> 
        <section> 
            <h1>11</h1> 
            <article> 
                <p>...</p> 
            </article> 
        </section> 
        <footer> 
            <p>Footer</p> 
        </footer> 
    </body> 
</html> 