<!doctype html>
<html>
    <head>
        <title>{! TITLE_HOME !}</title>

        <link rel="stylesheet" type="text/css" href="{% $RootURL %}/assests/common.css">
    </head>

    <body>
        <!-- NOCACHE -->
        {? GuestNameHasSet $Guest['Name'] ?}
        <h1>{! TITLE_HOME_WELCOME !}</h1>

        <form name="guest-info" method="post" action="{% $RouteRoot %}">
            <fieldset>
                <input name="Action" type="hidden" value="ClearName" />

                <input name="Submit" type="submit" value="{! TEXT_HOME_FORM_FOTGETNAME !}" />
            </fieldset>
        </form>
        {? ELSE GuestNameHasSet ?}
        <h1>{! TITLE_HOME !}</h1>

        <form name="guest-info" method="post" action="{% $RouteRoot %}">
            <fieldset>
                <input name="Action" type="hidden" value="SetName" />

                <label>
                    {! TEXT_HOME_FORM_ENTERYOURNAME !}:
                </label>

                <input name="Name" type="text" />

                <input name="Submit" type="submit" value="{! TEXT_HOME_FORM_SETNAME !}" />
            </fieldset>
        </form>
        {? EOF GuestNameHasSet ?}

        <p>
            {! TEXT_HOME_SYSINFO_INIT_TIME !}: {% $Setting['Time']|friendlyTime %}
        </p>
        <!-- NOCACHE -->

        <form name="framework-renew" method="post" action="{% $RouteRoot %}">
            <fieldset>
                <input name="Action" type="hidden" value="Renew" />

                <input name="Submit" type="submit" value="{! TEXT_HOME_FORM_CLEARSTATE !}" />
            </fieldset>
        </form>
    </body>
</html>
