<!doctype html>
<html>
    <head>
        <title>{lang TITLE_HOME /}</title>

        <link rel="stylesheet" type="text/css" href="{var RootURL /}/assets/common.css">
    </head>

    <body>
        <!-- NOCACHE -->
        {if var="Guest.Name" not=""}
        <h1>{lang TITLE_HOME_WELCOME /}</h1>

        <form name="guest-info" method="post" action="{var RouteRoot /}">
            <fieldset>
                <input name="Action" type="hidden" value="ClearName" />

                <input name="Submit" type="submit" value="{lang TEXT_HOME_FORM_FOTGETNAME /}" />
            </fieldset>
        </form>
        {else}
        <h1>{lang TITLE_HOME /}</h1>

        <form name="guest-info" method="post" action="{var RouteRoot /}">
            <fieldset>
                <input name="Action" type="hidden" value="SetName" />

                <label>
                    {lang TEXT_HOME_FORM_ENTERYOURNAME /}:
                </label>

                <input name="Name" type="text" />

                <input name="Submit" type="submit" value="{lang TEXT_HOME_FORM_SETNAME /}" />
            </fieldset>
        </form>
        {/if}

        <p>
            {lang TEXT_HOME_SYSINFO_INIT_TIME /}: {var Setting.Time|friendlyTime /}
        </p>
        <!-- NOCACHE -->

        <form name="framework-renew" method="post" action="{var RouteRoot /}">
            <fieldset>
                <input name="Action" type="hidden" value="Renew" />

                <input name="Submit" type="submit" value="{lang TEXT_HOME_FORM_CLEARSTATE /}" />
            </fieldset>
        </form>
    </body>
</html>
